<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/macOS.css"
            id="at.spot.eclipse.themes.macos"
            label="macOS">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="at.spot.eclipse.themes.PluginStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Views"
            class="at.spot.eclipse.themes.pref.CustomizeThemePage"
            id="at.spot.eclipse.themes.customizeTheme"
            name="Customize Theme">
      </page>
   </extension>
</plugin>
